{% extends "base.html" %}

{% block content %}

<h1> Add user </h1>
<form method="POST" action="">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="add" class="btn btn-info" >
</form>

{% endblock %}