<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" />
	</head>
	<body>


    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/">Home</a></li>
            <li role="presentation"><a href="/add">Add</a></li>
            <li role="presentation"><a href="/list">List</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Django Challenge</h3>
      </div>

      <div class="jumbotron">
      {% block content %}

        <h1>Django Challenge</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>

        <p>  Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>

      {% endblock %}
      </div>

	</body>
</html>