{% extends "base.html" %}

{% block content %}
<h1> Added users  </h1>
<br>

<div>
  <p>The .table-striped class adds zebra-stripes to a table:</p>            
  <table class="table table-striped">
    <thead>
      <tr>
        <td> <b> Username </b></td>
        <td><b> Email</b></td>
      </tr>
    </thead>
    <tbody>

		{% for user in users %}
		<tr>
		  <td> {{ user.name }} </td> 
		  <td> {{ user.email }}</td>
		</tr>
		{% endfor %}
	</tbody>
  </table>
</div>
{% endblock %}